@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: "Anton";
  src: url("../assets/fonts/Roboto-VariableFont_wdth,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Cavet";
  src: url("../assets/fonts/Caveat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TitilliumWeb";
  src: url("../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@layer base {
  * {
    @apply m-0 p-0;
    box-sizing: border-box;

    ::-webkit-scrollbar {
      @apply h-1 w-1 rounded-xl bg-gray-300;
    }

    ::-webkit-scrollbar-thumb {
      @apply rounded-full bg-gray-500;
    }
  }

  body {
    @apply w-screen h-screen overflow-hidden;
  }

  :is(#root, #portal) {
    @apply flex w-full h-screen relative overflow-x-hidden items-center justify-center;
  }

  #root {
    @apply grow flex-col justify-start overflow-y-auto;

    section {
      @apply w-full flex-none relative transition-all duration-500 ease-linear;
    }
  }

  #portal {
    @apply fixed inset-0 h-screen z-100 transition duration-500 backdrop-blur-lg bg-black/60;

    &:empty {
      @apply opacity-0 pointer-events-none;
    }
  }

  :is(h1, h2, h3, h4, h5, h6, button:not(.whitespace-nowrap)):not(
      div.tiptap.ProseMirror :is(h1, h2, h3, h4, h5, h6)
    ) {
    @apply font-anton;
  }
  :is(button.whitespace-nowrap) {
    @apply font-[var(--font-sans)];
  }

  :is(span, p):not(div.tiptap.ProseMirror p) {
    @apply font-titillium;
  }

  :is(q) {
    @apply font-cavet;
  }
  :root {
    --pattern-fg: color-mix(in oklab, var(--color-black) 5%, transparent);
    --color-black: #000;
    --breakpoint-2xl: 96rem;
    --gutter-width: 2.5rem;
    --dark: 300 4% 9%;

    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .bg-light-blur {
    backdrop-filter: blur(4px);
    background-color: hsla(0, 0%, 100%, 0.5);
  }

  .scroll-margin {
    scroll-margin-top: 12em;
  }
  h1.custom-heading {
    @apply text-5xl font-bold tracking-tight lg:text-6xl;
  }
  h2.custom-heading {
    @apply text-4xl font-bold tracking-tight;
  }
  h3.custom-heading {
    @apply text-3xl font-semibold tracking-tight;
  }
  h4.custom-heading {
    @apply text-2xl font-semibold tracking-tight;
  }
  h5.custom-heading {
    @apply text-xl font-medium tracking-tight;
  }
  h6.custom-heading {
    @apply text-lg font-medium tracking-tight;
  }

  div.tiptap.ProseMirror p {
    @apply my-3 font-[var(--font-sans)];
  }
  div.tiptap.ProseMirror li p {
    @apply mb-2 font-[var(--font-sans)];
  }
  div.tiptap.ProseMirror :is(h1, h2, h3, h4, h5, h6) {
    @apply mb-[0.3em] mt-[1em] font-[var(--font-sans)] [&:first-child]:mt-0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .heading-1 {
    @apply text-[80px] leading-[84px] tracking-[-3px] font-medium;
  }
  .heading-2 {
    @apply text-7xl leading-[76px] tracking-[-2px] font-medium;
  }
  .heading-3 {
    @apply text-[54px] leading-[58px] tracking-[-1px] font-medium;
  }
  .heading-4 {
    @apply text-[40px] leading-[44px] tracking-[-0.4px] font-medium;
  }
  .heading-5 {
    @apply text-[34px] leading-[38px] tracking-[-0.6px] font-medium;
  }
  .heading-6 {
    @apply text-[28px] leading-[34px] tracking-[-0.6px] font-medium;
  }
  .heading-7 {
    @apply text-[20px] leading-[28px] font-medium;
  }
  .fs-26 {
    @apply text-[26px] leading-10;
  }
  .fs-22 {
    @apply text-[22px] leading-[34px];
  }
  .fs-20 {
    @apply text-xl leading-8;
  }
  .fs-18 {
    @apply text-lg leading-[30px];
  }
  .fs-16 {
    @apply text-base leading-[26px];
  }
  .fs-14 {
    @apply text-sm leading-[22px];
  }
  .fs-12 {
    @apply text-xs leading-5;
  }
  .button-xl {
    @apply text-[26px] leading-[38px] font-medium;
  }
  .button-lg {
    @apply text-[22px] leading-[34px] font-medium;
  }
  .button-md {
    @apply text-lg leading-8 font-medium;
  }
  .button-sm {
    @apply text-base leading-[28px] font-medium;
  }
  .button-xs {
    @apply text-sm leading-6 font-medium;
  }

  .padding-vertical {
    @apply pt-10 md:pt-12 xl:pt-20 pb-12 md:pb-20 xl:pb-40;
  }
  .padding-horizontal {
    @apply px-4% md:px-6% xl:px-10%;
  }
}
