@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'Anton';
  src: url('../assets/fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cavet';
  src: url('../assets/fonts/Caveat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('../assets/fonts/TitilliumWeb-Regular.ttf') format('truetype');
}

@layer utilities {
  .hide-scrollbar {
    /* @apply scrollbar-none; */
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  :root {
    --dark: rgb(4 15 40 / var(--tw-text-opacity, 1));
    --light: rgb(244 246 248 / var(--tw-text-opacity, 1));
    --primary: rgb(34 149 200 / var(--tw-text-opacity, 1));
    --secondary: rgb(253 190 51 / var(--tw-text-opacity, 1));
  }

  * {
    @apply m-0 p-0 box-border;
    /* font-family: 'Anton', sans-serif; */

    ::-webkit-scrollbar {
      @apply h-2 w-2 rounded-xl bg-gray-300;
    }

    ::-webkit-scrollbar-thumb {
      @apply rounded-xl bg-gray-500;
    }
  }

  h1, h2, h3, h4, h5, h6, button {
    font-family: 'Anton', sans-serif;
  }

  body {
    @apply w-screen h-auto flex overflow-x-hidden;

    :is(#root, #portal) {
      @apply w-screen flex relative overflow-auto overflow-x-hidden items-center justify-center;
    }

    #root {
      @apply flex-1 flex flex-col h-screen items-center justify-start min-h-screen overflow-x-hidden;

      section {
        @apply w-full flex-none relative transition-all duration-500 ease-linear;
      }
    }

    #portal {
      @apply fixed inset-0 h-screen z-[1000] transition duration-500 backdrop-blur-lg bg-black/60;

      &:empty {
        @apply opacity-0 pointer-events-none;
      }
    }
  }
}